@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --backgroud: #1e202a;
  --header-background: #1f212e;
  --card-background: #252a41;
  --card-background-hover: #313753;
  --text-blue: #8b97c6;
  --text: #ffffff;
}
[data-mode='light'] {
  --backgroud: #ffffff;
  --header-background: #f5f7ff;
  --card-background: #f0f2fa;
  --card-background-hover: #dcdeeb;
  --text-blue: #63687e;
  --text: #1e202a;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 700;
  background: var(--backgroud);
  color: var(--text);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 50px 1fr 50px;
}
body > * {
  grid-column: 1;
}
.text-color-two {
  color: var(--text-blue);
}
.screen-reader {
  position: absolute;
  left: -100vw;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* Header Section */
.header {
  background: var(--header-background);
  padding: 30px 25px 0 25px;
  grid-row: 1 / 3;
}
.header__text-block {
  border-bottom: 1px solid var(--text-blue);
  padding-bottom: 25px;
}
.header__title {
  font-size: 24px;
  margin: 0;
}
.header__paragraph {
  margin-bottom: 0;
}
/* Header toggle slider */
.header__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header__toggle:hover > p {
  color: var(--text);
}
.header__toggle__block {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  border: 1px solid transparent;
}
.header__toggle__block:focus-within {
  border: 1px dotted var(--text);
}
.header__toggle__input {
  position: absolute;
  left: -110vw;
}
.header__toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  transition: 0.4s;
  border-radius: 34px;
}
.header__toggle__slider::before {
  position: absolute;
  content: '';
  top: 3px;
  left: 3px;
  background: var(--header-background);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.4s;
}
.header__toggle__input:checked + .header__toggle__slider {
  background: hsl(230, 22%, 74%);
}
.header__toggle__input:checked + .header__toggle__slider::before {
  transform: translateX(24px);
}
.header__toggle__input:checked + .header__toggle__slider:hover {
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
/* Cards */
.main {
  grid-row: 2 / 5;
  padding: 0 25px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 25px;
  row-gap: 20px;
}
.card {
  font-size: 12px;
  background: var(--card-background);
  text-align: center;
  border-radius: 5px;
}
.card:hover {
  background: var(--card-background-hover);
  cursor: pointer;
}
.card__positive-number {
  color: hsl(163, 72%, 41%);
}
.card__negative-number {
  color: hsl(356, 69%, 56%);
}
/* Top Card section */
.card-one {
  border-top-width: 5px;
  border-top-style: solid;
}
.card-one > p {
  margin: 20px 0;
}
.card-one p:first-child,
.card-one p:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-one img {
  margin-right: 5px;
}
.card-one__follower {
  display: flex;
  flex-direction: column;
}
.card-one__follower__number {
  font-size: 50px;
}
.card-one__follower__text {
  text-transform: uppercase;
  letter-spacing: 0.35em;
  font-weight: 400;
}
.card-facebook {
  border-top-color: hsl(208, 92%, 53%);
}
.card-twitter {
  border-top-color: hsl(203, 89%, 53%);
}
.card-instagram:before {
  display: block;
  content: '';
  height: 5px;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
.card-instagram {
  border: none;
}
.card-youtube {
  border-top-color: hsl(348, 97%, 39%);
}
/* Bottom card Section */
.overview__title {
  font-size: 24px;
  margin: 50px 0 25px 0;
}
.card-two {
  display: grid;
  grid-template-areas:
    'title image'
    'number score';
  grid-gap: 30px;
  text-align: left;
  padding: 25px 30px;
  align-items: center;
}
.card-two__title {
  grid-area: title;
  font-size: 14px;
  margin: 0;
}
.card-two__number {
  grid-area: number;
  font-size: 30px;
  margin: 0;
}
.card-two__image {
  grid-area: image;
  justify-self: end;
}
.card-two__score {
  grid-area: score;
  justify-self: end;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-two__score img {
  margin-right: 5px;
}
/* Footer */
.footer {
  margin-top: 50px;
  grid-row: -1;
}

/* Attribution Section */
.attribution {
  font-size: 11px;
  font-weight: 400;
  text-align: center;
}
.attribution a {
  color: var(--text);
}

/* Media Queries */
@media all and (min-width: 842px) {
  .header {
    padding: 30px 150px 0 150px;
  }
  .main {
    padding: 0 150px;
  }
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media all and (min-width: 675px) {
  body {
    grid-template-rows: 150px 100px 1fr 50px;
  }
  /* Header Section */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .header__text-block {
    border-bottom: none;
  }

  .header__toggle__block {
    margin-left: 10px;
  }
}
